<% @questions.each do |question| %>
  <h3><%= ActionController::Base.helpers.link_to question.title, Rails.application.routes.url_helpers.question_url(question) %></h3>
  <p><%= question.question %></p>
<% end %>