<div class="form-group">
  <label class="sr-only control-label" for="remark-textarea">Remark</label>
  <textarea class="form-control" cols="100" id="remark-textarea" name="remark[remark]" rows="15"></textarea>
</div>