<div class="form-group">
  <label class="control-label required" for="answer_answer">Answer</label>
  <textarea class="form-control" cols="100" id="answer_answer" name="answer[answer]" rows="15"></textarea>
</div>